<h2>Contact list:</h2>
<% @contacts.each do |contact|%>
  <h4><%= contact.full_name %></h4>
  <p><%= contact.email %></p>
  <p><%= contact.phone_number %></p>
  <p>Updated at: <%= contact.friendly_updated_at %></p>
<% end %>

