// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #CEECF5;
}
h2 {
  background-color: #CEECF5;
  border-bottom: solid;
  border-color: black;
}
h4 {
  border-bottom: solid;
  border-color: black;
  border-width: 1px;
}